* {
    margin: 0px;
    padding:0px;
}
body {
    text-decoration: none;
    list-style: none;
}
.attribution {
    font-size: 11px;
    text-align: center; 
    color: hsl(228, 45%, 44%); 
}
.attribution a {
    text-decoration: none;
}